
<h4>MyWeatherRandomizer</h4>

<p>The weather will be: @RandomWeather</p> 

@code {
    [Parameter] public int CounterWeather { get; set; }
    public string RandomWeather { get; set; }
    private string[] weatherList = new[] { "Frozen", "Cold", "Warm", "Balmy","Scortcher" };

    Random rnd = new();

    protected override void OnParametersSet()
    {
        int counter = CounterWeather > 5 ? rnd.Next(0, weatherList.Count()) : CounterWeather-1;
        RandomWeather = weatherList[counter];
    }


}
