@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> Localize

<PageTitle>Index</PageTitle>

<h1>@Localize["HW"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
